body {
    margin: 0;
}

.services_page_section {
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: stretch;
    margin-top: 40px;
    background-color: black;
    color: white;
    height: 1200px;
    width: 100%;
}

.services_section_background {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.services_content_container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    height: 100%;
    max-height: 400px;
    width: 100%;
    max-width: 1000px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 10% auto;
}

.services_headline {
    font-family: 'Abril Fatface', cursive;
    font-size: 96px;
    color: white;
}

.services_paragraph_01 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    margin: 24px;
}




/* -------------------- LARGE TABLET ------------- */
@media screen and (max-width: 1200px) and (min-width: 992px) {
    .services_headline {
        font-family: 'Abril Fatface', cursive;
        font-size: 80px;
        color: white;
    }
    
    .services_paragraph_01 {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        color: white;
        margin: 24px;
    }
}
/* -------------------- SMALL TABLET ------------- */
@media screen and (max-width: 991px) and (min-width: 768px){    
    .services_headline {
        font-family: 'Abril Fatface', cursive;
        font-size: 64px;
        color: white;
    }
    
    .services_paragraph_01 {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        color: white;
        margin: 24px;
    }  
}
/* -------------------- LARGE PHONE ------------- */
@media screen and (max-width: 767px) and (min-width: 576px){
    .services_headline {
        font-family: 'Abril Fatface', cursive;
        font-size: 48px;
        color: white;
    }
    
    .services_paragraph_01 {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        color: white;
        margin: 24px;
    }     
}
/* -------------------- SMALL PHONE ------------- */
@media screen and (max-width: 575px) and (min-width: 319px){  
    .services_headline {
        font-family: 'Abril Fatface', cursive;
        font-size: 36px;
        color: white;
    }
    
    .services_paragraph_01 {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        color: white;
        margin: 24px;
    }   
}